<%- include('../partials/header.ejs')%>
    <form method = "POST" action = "/cards/<%= card.id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="name" >Card Name</label></td>
                <td><input type="text" id="name" name="name" value = "<%= card.name%>" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="category" >Category</label></td>
                <td>
                <select id="category" name="category" value = "<%= card.category%>" class = "fixed-width" required>
                <option value="Monster">Monster</option>
                <option value="Spell/Trap">Spell/Trap</option>
                </select>
            </td>
            </tr>
            <tr><td class = "align-top"><label for="desc">Description</label></td>
                <td><input type="text" id="desc" name="desc" required minlength="10" value="<%= card.desc%>"></td>
            </tr>
            <tr>
                <td><label for="status" >Status</label></td>
                <td>
                <select id="status" name="status" value = "<%= card.status%>" class = "fixed-width" required>
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
                </select>
            </td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>
<%- include('../partials/footer.ejs')%>
