<%- include('../partials/header.ejs')%>
       <h4><%= trade.name%></h4>
       <h4><%= trade.category%></h4>
       <p>Posted <%= trade.createdAt.toLocaleString()%> by <%= trade.author.firstName + ' ' + trade.author.lastName%></p>
       <p><%= trade.desc%></p>
       <p><%= trade.status%></p>
       <%if(user == trade.author._id){%>
         <form>
            <button type = "submit" formmethod = "GET" formaction = "/trades/<%= trade.id%>/edit">Edit</button>
            <button type = "submit" formmethod = "POST" formaction = "/trades/<%= trade.id%>?_method=DELETE">Delete</button>
         </form>
       <%}%>
       <%if(!(user == trade.author._id)){%>
         <form>
            <button type = "submit" name="watchYes" value="YES" formmethod="POST" formaction="/trades/<%= trade.id%>/watchings">Watch</button>
            <button type = "submit" formmethod="GET" formaction="/users/trade/<%= trade.id%>">Trade</button>
         </form>
       <%}%>
    <%- include('../partials/footer.ejs')%>