<%- include('../partials/header.ejs')%>
<h2>Welcome, <%=user.firstName%></h2>
    <%if(trades.length) {%>
        <p>Select a trade to offer</p>
        <table>
            <tr>
                <th>Card Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        <%trades.forEach(trade =>{%>
            
                <tr>
                    <td><a href='/trades/<%= trade.id%>'><%=trade.name%></a></td>
                    <td><%=trade.category%></td>
                    <td><%=trade.status%></td>
                    <td><form><button type = "submit" formmethod = "POST" formaction = "/trades/<%= trade.id%>/offers">Trade</button></form></td>
                </tr>

        <%});
    } else {%>
        <p>You have not created any trades</p>
    <%}%>
</table>
<%- include('../partials/footer.ejs')%>